<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="site-footer-inner">
      <div>{{ site.copyright }} {% if site.author %}@{{ site.author | escape }}{% endif %}</div>
      <div>Author of this blog: uupeter
        Links: <a title="" href="http://www.luogu.com.cn/user/801594">LUOGU</a> &amp; <a title="" href="https://github.com/238728">GITHUB</a>.</div>
      <div class="footer-col rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></div>
    </div>
  </div>
</footer>
